# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm
.idea/

# VSCode
.vscode/

# data-set
/09.AI/05.Deep_Learning/PyTorch/PyTorch_Tutorials/02.Practices/pytorch_practice/data/
